*,
*::after,
*::before{
  box-sizing: border-box;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  --team-color:  #00B0F0; 
  --team-accent-color: #DDEBF7;
}

@media print {
  @page {
    size: landscape;
  }
  body{
    margin: 0;
  }

  .no-print{
    display: none;
  }
  
}
